.Header {
  height: 10rem;
  width: 100%;
  background-color: var(--orange);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5rem;
  color: var(--white);
  text-transform: uppercase;
}
.Header__headings {
  text-shadow: -1px -1px 1px var(--orange-light), 2px 2px 1px #363636;
  font-size: 5rem;
}
.Header__scoreboard {
  font-size: 1.8rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

@media (max-width: 400px) {
  .Header {
    padding: 0 2rem;
    flex-direction: column;
    justify-content: center;
  }
  .Header__headings {
    font-size: 3rem;
    margin-bottom: 0.5rem;
  }
  .Header__scoreboard {
    font-size: 1.3rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
}
